{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12 md-5">
    <a class="btn btn-outline-primary m-4" href="{% url 'blog:create' %}">Создать</a>
</div>
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow h-100">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h4 class="my-0 font-weight-normal">{{ object|title }} ({{ object.slug }})</h4>
                <p class="card-title pricing-card-title">{{ object.content }}</p>
                <p class="card-title pricing-card-title">{{ object.view_count }}</p>
                <div class="d-flex justify-content-between align-item-center">
                    <div class="btn-group">
                        <a href="{% url 'blog:view' object.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                        <a href="{% url 'blog:edit' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="{% url 'blog:delete' object.pk %}" type="button" class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}