{% extends 'catalog/base.html' %}
{% load mediapath_tag %}

{% block content %}
    {% if not perms.catalog.set_published %}
        <div class="col-12 mb-4">
            <a class="btn btn-outline-primary m-2" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
        </div>
    {% endif %}
    <div class="col-12 mb-4">
            <a class="btn btn-outline-primary m-2" href="{% url 'catalog:category' %}">Категории</a>
    </div>
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3 mb-4">
            <div class="card mb-4 box-shadow h-100">
                <div class="card-header">
                    <img src="{% mediapath object.image %}">
                </div>
                <div class="card-body">
                    <h4 class="my-0 font-weight-normal">{{object.product_name}}</h4>
                    <p class="card-title pricing-card-title">{{ object.product_about|truncatechars:100 }}</p>
                    <p class="card-title pricing-card-title">{{ object.product_price }}</p>
                    <p class="card-title pricing-card-title">{{ object.version|default:"не указана" }}</p>
                    <p class="card-title pricing-card-title">{{ object.owner.email|default:"неизвестен" }}</p>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary"
                           href="{% url 'catalog:product_info' object.pk %}">
                            Перейти
                        </a>
                        {% if not perms.catalog.set_published %}
                        <a class="btn btn-sm btn-outline-secondary"
                           href="{% url 'catalog:product_update' object.pk %}">
                            Изменить
                        </a>
                        <a class="btn btn-sm btn-outline-danger"
                           href="{% url 'catalog:product_delete' object.pk %}">
                            Удалить
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

